[Desktop Entry]
Version=1.0
Name=Gridmap Navigation Simulator
Comment=Robotics Simulator
Exec=GridmapNavSimul
Icon=gridmapsimul
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Science;Robotics;ArtificialIntelligence;
StartupNotify=true
Keywords=mrpt;gridmap;robotics;simulator;laser;

