[Desktop Entry]
Version=1.0
Name=Navigation log viewer
Comment=A visualization tool for navigation logs
Exec=navlog-viewer %F
Icon=navlog-viewer
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Science;Robotics;ArtificialIntelligence;
StartupNotify=true
MimeType=application/x-mrpt-navlog;
Keywords=mrpt;navigation;reactive;robotics;robot;

