[Desktop Entry]
Version=1.0
Name=Reactive Navigation Demo
Comment=Robotics Simulation
Exec=ReactiveNavigationDemo
Icon=reactivenav
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Science;Robotics;ArtificialIntelligence;
StartupNotify=true
Keywords=mrpt;navigation;reactive;robotics;robot;

