<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="CFormBatchSensorPose">
		<title>Batch change sensor poses</title>
		<centered>1</centered>
		<size>520,434</size>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxCLOSE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<growablerows>1</growablerows>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>Configuration of sensors:</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="edText" member="yes">
							<value>//  Any file in the format used by rawlog-grabber can be used here&#x0A;//  The name of the sections [xxx] can be arbitrary and &#x0A;//   independent of the sensor label. &#x0A;// ----------------------------------------------------------------&#x0A;&#x0A;//  SENSOR 1&#x0A;[OneCamera]&#x0A;sensorLabel&#x09;&#x09;= CAMERA1&#x0A;&#x0A;pose__x&#x09;&#x09;&#x09;= 0    ; position on the robot (meters)&#x0A;pose__y&#x09;&#x09;&#x09;= 0&#x0A;pose__z&#x09;&#x09;&#x09;= 0.5&#x0A;pose__yaw&#x09;&#x09;= 0&#x09;   ; Angles in degrees&#x0A;pose__pitch&#x09;&#x09;= 0&#x0A;pose__roll&#x09;&#x09;= 0&#x0A;&#x0A;//  SENSOR 2&#x0A;[AnotherSensor]&#x0A;sensorLabel&#x09;&#x09;= SICK__LASER&#x0A;&#x0A;pose__x&#x09;&#x09;&#x09;= 0.2    ; position on the robot (meters)&#x0A;pose__y&#x09;&#x09;&#x09;= 0&#x0A;pose__z&#x09;&#x09;&#x09;= 0.3&#x0A;pose__yaw&#x09;&#x09;= 0&#x09;   ; Angles in degrees&#x0A;pose__pitch&#x09;&#x09;= 0&#x0A;pose__roll&#x09;&#x09;= 0&#x0A;&#x0A;</value>
							<font>
								<size>9</size>
								<style>normal</style>
								<weight>normal</weight>
								<underlined>0</underlined>
								<family>teletype</family>
								<face>FreeMono</face>
							</font>
							<minsize>500,300</minsize>
							<style>wxTE_MULTILINE|wxHSCROLL|wxVSCROLL|wxALWAYS_SHOW_SB</style>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>5</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="btnOpen" member="yes">
							<bitmap stock_id="wxART_FILE_OPEN" />
							<tooltip>Load from text file...</tooltip>
							<handler function="OnbtnOpenClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="btnApply" member="yes">
							<label>Apply</label>
							<default>1</default>
							<handler function="OnbtnApplyClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="btnCancel" member="yes">
							<label>Cancel</label>
							<handler function="OnbtnCancelClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
