*~
samples/CMakeLists.txt
build*
install*
*.layout
CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user
SOURCE_DATE_EPOCH

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.backup

