[submodule "3rdparty/nanogui"]
	path = 3rdparty/nanogui
	url = https://github.com/MRPT/nanogui.git
[submodule "3rdparty/libfyaml"]
	path = 3rdparty/libfyaml
	url = https://github.com/MRPT/libfyaml.git
[submodule "3rdparty/libfreenect"]
	path = 3rdparty/libfreenect
	url = https://github.com/OpenKinect/libfreenect.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
