*~
build*
install*
*.layout
CMakeFiles/
CMakeLists.txt.user*
SOURCE_DATE_EPOCH
*.backup

share/mrpt/config_files/rawlog-grabber/*.rawlog

# OSX
*.DS_Store
.Spotlight-V100

# Vim-related files
Session.vim
.projections.json
compile_commands.json
.mypy_cache/
tags

# common results directories
graphslam_results/

#visual studio
.vs/*
.vscode

# doxygen files
doc/source/dox_mrpt.tag
doc/source/xml-dir/
doc/html/
doc/source/class_*
doc/source/enum_*
doc/source/namespace_*
doc/source/group_*
doc/source/struct_*
doc/source/page_*
doc/source/union_*
doc/source/global.rst
doc/source/doxygen-index.rst
.cmake
doc/venv
