*~
/samples/CMakeLists.txt
build*
install*
*.layout
CMakeFiles/
CMakeLists.txt.user
SOURCE_DATE_EPOCH
*.backup

# OSX
*.DS_Store
.Spotlight-V100

# Vim-related files
Session.vim
*.swo
*.swp

# common results directories
graphslam_results/

# Intellij IDE
.idea/*
cmake-build-debug/*
