# Use docker to test on a more modern Ubuntu distro
language: cpp
sudo: required
dist: trusty

before_script:
  - export CI_SOURCE_PATH=$(pwd)
  - export REPOSITORY_NAME=${PWD##*/}
  - export CODECOV_VARS=$(bash <(curl -s https://codecov.io/env))
  - export BUILD_TYPE=Debug
  - docker images

script:
  - travis/travis_docker.sh

env:
  global:
    - MAKEFLAGS="-j 2"
    - CCACHE_SLOPPINESS=pch_defines,time_macros

jobs:
  include:
    - stage: Core Build Stage 1
      env: STAGE=1 TASK="build" DEPS="full" BUILD_TARGET="mrpt-hmtslam"
      compiler: gcc
    - env: STAGE=1 TASK="build" DEPS="full" BUILD_TARGET="mrpt-hmtslam"
      compiler: clang
    - env: STAGE=1 TASK="build" DEPS="headless" BUILD_TARGET="mrpt-hmtslam"
      compiler: gcc
    - stage: Core Build Stage 2
      env: STAGE=2 TASK="build" DEPS="full"
      compiler: gcc
    - env: STAGE=2 TASK="build" DEPS="full"
      compiler: clang
    - env: STAGE=2 TASK="build" DEPS="headless"
      compiler: gcc
    - stage: Core Tests
      compiler: gcc
      env: TASK="test" DEPS="full"
    - compiler: clang
      env: TASK="test" DEPS="full"
    - stage: Extended Builds and Tests
      compiler: gcc
      env: TASK="build" DEPS="minimal"
    - compiler: gcc
      env: TASK="test" DEPS="minimal"
    - compiler: gcc
      env: TASK="test" DEPS="headless"
    - language: python
      env: TASK="lint" DEPS="full"

