# Use docker to test on a more modern Ubuntu distro
language: cpp
sudo: required
dist: trusty

before_script:
  - export CI_SOURCE_PATH=$(pwd)
  - export REPOSITORY_NAME=${PWD##*/}
  - export CODECOV_VARS=$(bash <(curl -s https://codecov.io/env))
  - export BUILD_TYPE=Debug
  - docker images

script:
  - docker run -v $HOME:$HOME $CODECOV_VARS -e BUILD_TYPE -e MAKEFLAGS -e CCACHE_SLOPPINESS -e TASK -e DEPS -e CI_SOURCE_PATH -e REPOSITORY_NAME -e HOME -e DISTRO -e CI_ROS_DISTRO -e CODECOV_TOKEN $DOCKER_IMAGE bash -c 'cd $CI_SOURCE_PATH; apt-get update -qq ; source travis/check_style.sh; source travis/travis_main.sh'

env:
  global:
    - MAKEFLAGS="-j 2"
    - CCACHE_SLOPPINESS=pch_defines,time_macros

jobs:
  include:
    - stage: Core Build
      env: TASK="build" DOCKER_IMAGE=mrpt/mrpt-build-env:full
      compiler: gcc
    - env: TASK="build" DOCKER_IMAGE=mrpt/mrpt-build-env:full
      compiler: clang
    - stage: Core Tests
      compiler: gcc
      env: TASK="tests" DOCKER_IMAGE=mrpt/mrpt-build-env:full
    - compiler: clang
      env: TASK="tests" DOCKER_IMAGE=mrpt/mrpt-build-env:full
    - stage: Extended Builds and Tests
      compiler: gcc
      env: TASK="build" DEPS="minimal" DOCKER_IMAGE=mrpt/mrpt-build-env:minimal
    - compiler: gcc
      env: TASK="tests" DEPS="minimal" DOCKER_IMAGE=mrpt/mrpt-build-env:minimal
    - compiler: gcc
      env: TASK="build" DEPS="headless" DOCKER_IMAGE=mrpt/mrpt-build-env:headless
    - compiler: gcc
      env: TASK="tests" DEPS="headless" DOCKER_IMAGE=mrpt/mrpt-build-env:headless
    - language: python
      env: TASK="lint" DOCKER_IMAGE=mrpt/mrpt-build-env:full

