# Use docker to test on a more modern Ubuntu distro
language: cpp
sudo: required
dist: trusty

before_script:
  - export DOCKER_IMAGE=ubuntu:$DISTRO
  - export CI_SOURCE_PATH=$(pwd)
  - export REPOSITORY_NAME=${PWD##*/}
  - docker images

script:
  - docker run -v $HOME:$HOME -e MAKEFLAGS -e CCACHE_SLOPPINESS -e TASK -e DEPS -e CI_SOURCE_PATH -e REPOSITORY_NAME -e HOME -e DISTRO -e CI_ROS_DISTRO $DOCKER_IMAGE bash -c 'cd $CI_SOURCE_PATH; source travis/check_style.sh; source travis/travis_main.sh'

env:
  global:
    - MAKEFLAGS="-j 2"
    - CCACHE_SLOPPINESS=pch_defines,time_macros

matrix:
  include:
  - compiler: gcc
    os: linux
    env: TASK="build" DISTRO=xenial
  - compiler: gcc
    os: linux
    env: TASK="test" DISTRO=xenial
  - compiler: gcc
    os: linux
    env: TASK="build" DEPS="headless" DISTRO=xenial
  - compiler: gcc
    os: linux
    env: TASK="test" DEPS="headless" DISTRO=xenial
  - compiler: gcc
    os: linux
    env: TASK="build" DEPS="minimal" DISTRO=xenial
  - compiler: gcc
    os: linux
    env: TASK="test" DEPS="minimal" DISTRO=xenial
  - compiler: clang
    os: linux
    env: TASK="build" DISTRO=xenial
  - compiler: clang
    os: linux
    env: TASK="test" DISTRO=xenial
  - language: python
    os: linux
    env: TASK="lint" DISTRO=xenial
