# Use docker to test on a more modern Ubuntu distro
language: cpp
sudo: required
dist: trusty

before_script:
  - export CI_SOURCE_PATH=$(pwd)
  - export REPOSITORY_NAME=${PWD##*/}
  - docker images

script:
  - docker run -v $HOME:$HOME -e MAKEFLAGS -e CCACHE_SLOPPINESS -e TASK -e DEPS -e CI_SOURCE_PATH -e REPOSITORY_NAME -e HOME -e DISTRO -e CI_ROS_DISTRO -e CODECOV_TOKEN $DOCKER_IMAGE bash -c 'cd $CI_SOURCE_PATH; apt-get update -qq ; source travis/check_style.sh; source travis/travis_main.sh'

env:
  global:
    - MAKEFLAGS="-j 2"
    - CCACHE_SLOPPINESS=pch_defines,time_macros

matrix:
  include:
  - compiler: gcc
    os: linux
    env: TASK="build" DOCKER_IMAGE=mrpt/mrpt-build-env:full
  - compiler: gcc
    os: linux
    env: TASK="test" DOCKER_IMAGE=mrpt/mrpt-build-env:full
  - compiler: gcc
    os: linux
    env: TASK="build" DEPS="headless" DOCKER_IMAGE=mrpt/mrpt-build-env:headless
  - compiler: gcc
    os: linux
    env: TASK="test" DEPS="headless" DOCKER_IMAGE=mrpt/mrpt-build-env:headless
  - compiler: gcc
    os: linux
    env: TASK="build" DEPS="minimal" DOCKER_IMAGE=mrpt/mrpt-build-env:minimal
  - compiler: gcc
    os: linux
    env: TASK="test" DEPS="minimal" DOCKER_IMAGE=mrpt/mrpt-build-env:minimal
  - compiler: clang
    os: linux
    env: TASK="build" DOCKER_IMAGE=mrpt/mrpt-build-env:full
  - compiler: clang
    os: linux
    env: TASK="test" DOCKER_IMAGE=mrpt/mrpt-build-env:full
  - language: python
    os: linux
    env: TASK="lint" DOCKER_IMAGE=mrpt/mrpt-build-env:full
