# Use docker to test on a more modern Ubuntu distro
language: cpp
sudo: required
dist: trusty

before_script:
  - export CI_SOURCE_PATH=$(pwd)
  - export REPOSITORY_NAME=${PWD##*/}
  - export CODECOV_VARS=$(bash <(curl -s https://codecov.io/env))
  - export BUILD_TYPE=Debug
  - docker images

script:
  - travis/travis_docker.sh

env:
  global:
    - MAKEFLAGS="-j 2"
    - CCACHE_SLOPPINESS=pch_defines,time_macros

jobs:
  include:
    - stage: Build libs (stage 1/2)
      env: STAGE=1 TASK="build" DEPS="full" BUILD_TARGET="mrpt-hwdrivers"
      compiler: gcc
    - env: STAGE=1 TASK="build" DEPS="full" BUILD_TARGET="mrpt-hwdrivers"
      compiler: clang
    - env: STAGE=1 TASK="build" DEPS="headless" BUILD_TARGET="mrpt-hwdrivers"
      compiler: gcc
    - env: STAGE=1 TASK="build" DEPS="minimal" BUILD_TARGET="mrpt-hwdrivers"
      compiler: gcc
    - stage: Build libs (stage 2/2)
      env: STAGE=2 TASK="build" DEPS="full" BUILD_TARGET="mrpt-hmtslam"
      compiler: gcc
    - env: STAGE=2 TASK="build" DEPS="full" BUILD_TARGET="mrpt-hmtslam"
      compiler: clang
    - env: STAGE=2 TASK="build" DEPS="headless" BUILD_TARGET="mrpt-hmtslam"
      compiler: gcc
    - env: STAGE=2 TASK="build" DEPS="minimal" BUILD_TARGET="mrpt-hmtslam"
      compiler: gcc
    - stage: Tests, Examples, apps
      env: STAGE=3 TASK="test" DEPS="full"
      compiler: gcc
    - env: STAGE=3 TASK="test" DEPS="full"
      compiler: clang
    - env: STAGE=3 TASK="test" DEPS="headless"
      compiler: gcc
    - env: STAGE=3 TASK="test" DEPS="minimal"
      compiler: gcc
    - env: STAGE=3 TASK="build" DEPS="full" BUILD_TARGET="examples"
      compiler: gcc
    - env: STAGE=3 TASK="build" DEPS="full" BUILD_TARGET="examples"
      compiler: clang
    - env: STAGE=3 TASK="build" DEPS="headless" BUILD_TARGET="examples"
      compiler: gcc
    - env: STAGE=3 TASK="build" DEPS="minimal" BUILD_TARGET="examples"
      compiler: gcc
    - env: STAGE=3 TASK="build" DEPS="full" BUILD_TARGET="apps"
      compiler: gcc
    - env: STAGE=3 TASK="build" DEPS="full" BUILD_TARGET="apps"
      compiler: clang
    - env: STAGE=3 TASK="build" DEPS="headless" BUILD_TARGET="apps"
      compiler: gcc
    - env: STAGE=3 TASK="build" DEPS="minimal" BUILD_TARGET="apps"
      compiler: gcc
    - stage: Extended Builds and Tests
      language: python
      env: TASK="lint" DEPS="full"
