language: cpp
cache: ccache
sudo: required
dist: trusty

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - sourceline: 'ppa:v-launchpad-jochen-sprickerhof-de/pcl'
    packages:
    - g++-6
    - clang-3.8
    - build-essential
    - pkg-config
    - cmake
    - libwxgtk3.0-dev
    - libftdi-dev
    - freeglut3-dev
    - zlib1g-dev
    - libusb-1.0-0-dev
    - libdc1394-22-dev
    - libavformat-dev
    - libswscale-dev
    - libassimp-dev
    - libjpeg-dev
    - libopencv-dev
    - libgtest-dev
    - libeigen3-dev
    - libsuitesparse-dev
    - libpcl-all
    - libopenni2-dev
    - libudev-dev
    - libboost-python-dev
    - libpython-dev python-numpy

before_install:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew update          ; fi

install:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    brew tap homebrew/science ;
    brew install eigen ;
    /usr/bin/yes | pip uninstall numpy ;
    brew install opencv ;
    brew install assimp ;
    fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ] && [ "$CXX" = "g++" ]; then export CXX="g++-6"; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ] && [ "$CXX" == "clang++" ]; then export CXX="clang++-3.8"; fi

script:
  - bash .travis.sh

env:
  global:
    - MAKEFLAGS="-j 2"
    - CCACHE_SLOPPINESS=pch_defines,time_macros

matrix:
  include:
  - compiler: gcc
    os: linux
    env: TASK="build"
  - compiler: gcc
    os: linux
    env: TASK="test"
  - compiler: clang
    os: linux
    env: TASK="build"
  - compiler: clang
    os: linux
    env: TASK="test"
  - compiler: gcc
    os: osx
    env: TASK="test"
  - compiler: clang
    os: osx
    env: TASK="test"
