<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="CDlgCalibWizardOnline">
		<title>Grab chessboard calibration pattern</title>
		<centered>1</centered>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="yes">
			<cols>3</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>1</cols>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
							<cols>1</cols>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
									<label>Select your camera: </label>
									<object class="sizeritem">
										<object class="Custom" name="ID_CUSTOM2" subclass="mrpt::gui::CPanelCameraSelection" variable="m_panelCamera" member="yes">
											<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID));</creating_code>
											<include_file>mrpt/gui/WxUtils.h</include_file>
											<style></style>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
							<label>Checkerboard detection parameters</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
									<cols>2</cols>
									<rows>2</rows>
									<growablecols>0,1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
											<label>Number of inner corners: </label>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer17" member="no">
													<cols>4</cols>
													<rows>1</rows>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
															<label>In X:</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="edSizeX" member="yes">
															<value>5</value>
															<min>1</min>
															<max>200</max>
															<size>50,-1</size>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
															<label>In Y:</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="edSizeY" member="yes">
															<value>8</value>
															<min>1</min>
															<max>200</max>
															<size>50,-1</size>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxRadioBox" name="ID_RADIOBOX1" variable="rbMethod" member="yes">
											<label> Detector method: </label>
											<content>
												<item>OpenCV&apos;s default</item>
												<item>Scaramuzza et al.&apos;s</item>
											</content>
											<default>-1</default>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBoxSizer" variable="StaticBoxSizer5" member="no">
											<label> Size of quads (in mm): </label>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer18" member="no">
													<cols>4</cols>
													<rows>1</rows>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
															<label>In X:</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="edLengthX" member="yes">
															<value>40.0</value>
															<size>40,-1</size>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
															<label>In Y:</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="edLengthY" member="yes">
															<value>40.0</value>
															<size>40,-1</size>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX1" variable="cbNormalize" member="yes">
											<label>Normalize image</label>
											<checked>1</checked>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
							<label>Capture limits</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
									<cols>2</cols>
									<growablecols>0</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
											<label>Frames to grab:</label>
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxSpinCtrl" name="ID_SPINCTRL3" variable="edNumCapture" member="yes">
											<value>15</value>
											<min>5</min>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
											<label>Grabbed so far:</label>
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT7" variable="lbProgress" member="yes">
											<label>0</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="txtLog" member="yes">
							<value>(debug output)</value>
							<size>239,78</size>
							<font>
								<size>9</size>
								<sysfont>wxSYS_OEM_FIXED_FONT</sysfont>
							</font>
							<style>wxTE_MULTILINE|wxTE_READONLY|wxHSCROLL|wxVSCROLL</style>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>1</cols>
					<rows>2</rows>
					<growablecols>0</growablecols>
					<growablerows>1</growablerows>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
							<cols>3</cols>
							<growablecols>2</growablecols>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON1" variable="btnStart" member="yes">
									<label>Start</label>
									<font>
										<weight>bold</weight>
									</font>
									<handler function="OnbtnStartClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON2" variable="btnStop" member="yes">
									<label>Stop</label>
									<enabled>0</enabled>
									<handler function="OnbtnStopClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON3" variable="btnClose" member="yes">
									<label>Close</label>
									<handler function="OnbtnCloseClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="Custom" name="ID_CUSTOM1" subclass="mrpt::gui::wxMRPTImageControl" variable="m_realtimeview" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS).x,$(POS).y,$(SIZE).GetWidth(), $(SIZE).GetHeight() );</creating_code>
							<include_file>mrpt/gui/WxUtils.h</include_file>
							<style></style>
							<size>468,286</size>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="timCapture" member="yes">
			<oneshoot>1</oneshoot>
			<handler function="OntimCaptureTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
