<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="CPanelCameraSelection">
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="pagesCameras" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
								<cols>2</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
										<label>Camera index:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="opencvCamIndex" member="yes">
										<value>0</value>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
										<label>Camera type:</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE1" variable="cbOpencvCamType" member="yes">
										<content>
											<item>CAMERA_CV_AUTODETECT</item>
											<item>CAMERA_CV_DC1394</item>
											<item>CAMERA_CV_VFL</item>
											<item>CAMERA_CV_VFW</item>
											<item>CAMERA_CV_MIL</item>
											<item>CAMERA_CV_DSHOW</item>
										</content>
										<selection>0</selection>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
										<label>Resolution:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE2" variable="cbOpencvResolution" member="yes">
										<content>
											<item>default</item>
											<item>320x240</item>
											<item>640x480</item>
										</content>
										<selection>0</selection>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Camera (opencv)</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
										<label>IP Camera URL:</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="edIPcamURL" member="yes">
										<value>rtsp://192.168.0.1/live.sdp</value>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Camera (FFmpeg)</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer16" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="edCustomCamConfig" member="yes">
										<value>// Configuration block for the CCameraSensor object.&#x0A;// Check out its documentation at:&#x0A;// http://reference.mrpt.org/svn/classmrpt__1__1hwdrivers__1__1__c__camera__sensor.html&#x0A;&#x0A;[CONFIG]&#x0A;grabber__type = opencv &#x0A;cv__camera__index = 0&#x0A;cv__camera__type = CAMERA__CV__AUTODETECT&#x0A;&#x0A;</value>
										<font>
											<size>7</size>
											<sysfont>wxSYS_OEM_FIXED_FONT</sysfont>
										</font>
										<style>wxTE_AUTO_SCROLL|wxTE_MULTILINE|wxHSCROLL|wxTE_DONTWRAP|wxVSCROLL|wxALWAYS_SHOW_SB</style>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Camera (custom)</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL5" variable="Panel5" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
										<label>Video file to open:</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="edVideoFile" member="yes">
										<value>test.avi</value>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON7" variable="btnBrowseVideo" member="yes">
										<label>Browse...</label>
										<handler function="OnbtnBrowseVideoClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Video file</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL6" variable="Panel6" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer13" member="no">
								<cols>3</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
										<label>Rawlog &#x0A;file:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="edRawlogFile" member="yes">
										<value>test.rawlog</value>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON8" variable="btnBrowseRawlog" member="yes">
										<label>Browse...</label>
										<handler function="OnbtnBrowseRawlogClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
										<label>External &#x0A;images:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="edRawlogImgDir" member="yes">
										<value>./Images</value>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON9" variable="btnBrowseRawlogDir" member="yes">
										<label>Browse...</label>
										<handler function="OnbtnBrowseRawlogDirClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
										<label>Sensor&#x0A;label:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="edRawlogLabel" member="yes" />
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
										<label>(empty=any)</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Rawlog file</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL7" variable="Panel1" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer18" member="no">
								<cols>2</cols>
								<rows>2</rows>
								<object class="sizeritem">
									<object class="wxRadioBox" name="ID_RADIOBOX1" variable="rbBumblebeeSel" member="yes">
										<label>Select monocular input</label>
										<content>
											<item>Left</item>
											<item>Right</item>
										</content>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX1" variable="cbBumblebeeRectif" member="yes">
										<label>Use vendor&apos;s rectify</label>
									</object>
									<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
									<border>10</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
										<label>(Unchecked = raw images)</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Bumblebee</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL1" variable="pnSwissRanger" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
								<cols>3</cols>
								<rows>2</rows>
								<object class="sizeritem">
									<object class="wxRadioBox" name="ID_RADIOBOX2" variable="rbSR_usb" member="yes">
										<label>Connection</label>
										<content>
											<item>USB</item>
											<item>Ethernet</item>
										</content>
										<default>-1</default>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
										<label>IP:</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="edSR_IP" member="yes">
										<value>192.168.2.14</value>
										<size>120,-1</size>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
										<label>Channels to grab: </label>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
												<cols>1</cols>
												<rows>4</rows>
												<object class="sizeritem">
													<object class="wxCheckBox" name="ID_CHECKBOX3" variable="cbSR_chIntensity" member="yes">
														<label>Grayscale intensity</label>
														<checked>1</checked>
														<enabled>0</enabled>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="ID_CHECKBOX4" variable="cbSR_ch3D" member="yes">
														<label>3D point cloud</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="ID_CHECKBOX5" variable="cbSR_chRange" member="yes">
														<label>Depth image</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="ID_CHECKBOX6" variable="cbSR_chConf" member="yes">
														<label>Confidence</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>SwissRanger ToF</label>
					</object>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX2" variable="cbGrayscale" member="yes">
					<label>Capture in grayscale</label>
					<checked>1</checked>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
