/.deps
/.sourcefiles
/Makefile
/a.out
/config.dep_progs
/config.dep_testprogs
/config.dep_tmp
/config.have_bits
/config.log
/config.status
/cvd/config.h
/debug
/autom4te.cache
*.o
libcvd.[as]*
libcvd_debug.[as]*
*.swp
progs/calibrate
progs/cvd_display_image
progs/video_play_source
examples/colourmaps
html/
man/
tests/*.out
*.d
*.dylib
cvd_src/config_internal.h
/build
**/.vs
