# Updated for MRPT 3.0 (colcon + Codecov)
name: CI Linux

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.name }} ${{ matrix.build_type }}
    runs-on: ${{ matrix.os }}

    env:
      CTEST_OUTPUT_ON_FAILURE: ON
      # Environment for colcon
      COLCON_HOME: ${{ github.workspace }}/.colcon

    strategy:
      fail-fast: false
      matrix:
        name: [
          ubuntu-latest-clang,
          ubuntu-latest-gcc
        ]
        build_type: [ Release ]
        include:
          - name: ubuntu-latest-clang
            os: ubuntu-latest
            compiler: clang
            coverage: OFF

          - name: ubuntu-latest-gcc
            os: ubuntu-latest
            compiler: gcc
            coverage: ON

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Git submodule
        run: |
          git submodule sync
          git submodule update --init --recursive

      - name: Install Dependencies
        run: |
          #sudo apt-mark hold grub-efi-amd64-signed
          sudo apt-get -y update
          sudo apt-get -y upgrade

          # MRPT Dependencies + Colcon Tooling
          sudo apt install -y \
            cmake build-essential \
            python3-colcon-common-extensions \
            lcov \
            libwxgtk3.0-gtk3-dev libopencv-dev libeigen3-dev libgtest-dev \
            freeglut3-dev libglfw3-dev libassimp-dev libglu1-mesa-dev \
            libqt5opengl5-dev qtbase5-dev libxrandr-dev libxxf86vm-dev \
            libftdi-dev libusb-1.0-0-dev libudev-dev libfreenect-dev \
            libavformat-dev libswscale-dev libpcap-dev liboctomap-dev \
            libopenni2-dev libtinyxml2-dev libdc1394-dev yamllint

          if [ "${{ matrix.os }}" = "ubuntu-latest" ]; then
            sudo apt install -y libicu-dev libsimpleini-dev pybind11-dev python3-dev
          fi

          if [ "${{ matrix.compiler }}" = "gcc" ]; then
            sudo apt-get install -y g++
            echo "CC=gcc" >> $GITHUB_ENV
            echo "CXX=g++" >> $GITHUB_ENV
          else
            sudo apt-get install -y clang g++-multilib
            echo "CC=clang" >> $GITHUB_ENV
            echo "CXX=clang++" >> $GITHUB_ENV
          fi

      - name: Colcon Build
        run: |
          colcon build \
            --event-handlers console_direct+ \
            --cmake-args \
              -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
              -DMRPT_BUILD_EXAMPLES=ON \
              -DMRPT_BUILD_TESTING=ON \
              -DMRPT_ENABLE_COVERAGE=${{ matrix.coverage }} \
              -DMRPT_ALLOW_LGPLV3=ON \
              -DCMAKE_VERBOSE_MAKEFILE=ON

      - name: Colcon Test
        run: |
          colcon test \
            --event-handlers console_direct+ \
            --return-code-on-test-failure

      - name: Generate Coverage Report
        if: matrix.coverage == 'ON'
        run: |
          # Capture coverage from all sub-folders in build/
          lcov --capture --directory build --output-file coverage.info
          # Filter out system headers and third-party code
          lcov --remove coverage.info '/usr/*' '*/build/*' '*/tests/*' '*/3rdparty/*' --output-file coverage.info
          lcov --list coverage.info

      - name: Upload to Codecov
        if: matrix.coverage == 'ON'
        uses: codecov/codecov-action@v4
        with:
          files: coverage.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
